.container-h {
  background-color: #829ebf;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;
  .container-box {
    background-color: #829ebf;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    svg {
      font-size: 1.4rem;
    }
  }
}
