.container-h {
  background-color: $bg-color;
  min-height: 1680px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  .container-box {
    background-color: $bg-color;
    width: 1152px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
