.signup-title {
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 2%;
  margin-left: 3%;
  width: 15%;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 1.5rem;
  font-weight: bold;
  color: $sub-color;
  border-bottom: 2px solid $sub-color;
}

.signup-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94%;
  height: 40vh;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  flex-direction: column;
  background-color: white;
  .signup-input-pw,
  .signup-input-pwcheck {
    width: 26vw;
    margin-bottom: 0.5vh;
  }
  .email {
    display: flex;
    justify-self: center;
    align-items: flex-end;
    flex-direction: row;
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    margin-bottom: 0.5vh;
    .email-id {
      width: 15vw;
      margin-right: 0.5vw;
    }
    .email-domain {
      width: 9vw;
      margin-left: 0.5vw;
    }
    .email-at {
      width: 1vw;
    }
  }
  .signup-button {
    width: 26vw;
    margin-top: 3vh;
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    color: white;
    background-color: $main-color;
  }
}
