.today-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 160px;
  margin-top: 5%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 16px;
  background-color: black;
  overflow: hidden;
  border-radius: 5px;
  .left-info,
  .right-info {
    font-family: "NotoSansKR-Regular";
    font-size: 1.1rem;
    width: 200px;
    color: white;
  }
  .title-text {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "NotoSansKR-Bold";
    font-size: 3rem;
    color: white;
  }
  .today-topic-time {
    font-family: "NotoSansKR-Bold";
    font-size: 2.2rem;
    color: white;
  }
  .animation-bar-left {
    position: absolute;
    width: 0.5%;
    height: 100%;
    animation: conflict-left 2.1s ease-out infinite both;
    @keyframes conflict-left {
      0% {
        background-color: #5339ff;
        left: -1%;
      }
      80% {
        opacity: 0.9;
      }
      100% {
        background-color: #c53c71;
        left: 57%;
        opacity: 0;
      }
    }
  }
  .animation-bar-right {
    position: absolute;
    width: 0.5%;
    height: 100%;
    animation: conflict-right 2.1s ease-out infinite both;
    @keyframes conflict-right {
      0% {
        background-color: #ee3d3d;
        left: 100%;
      }
      80% {
        opacity: 0.9;
      }
      100% {
        background-color: #c53c71;
        left: 43%;
        opacity: 0;
      }
    }
  }
}
.page-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 30px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 3%;
  .page-button {
    width: auto;
    font-family: "NotoSansKR-Regular";
    font-size: 1rem;
    svg {
      font-size: 0.8rem;
    }
  }
}
