.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  height: 18vh;
  background-color: black;
  overflow: hidden;
  border-radius: 5px;
  .title-text {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "NotoSansKR-Bold";
    font-size: 3rem;
    color: white;
  }
  .today-topic-time {
    font-family: "NotoSansKR-Bold";
    font-size: 2rem;
    color: white;
  }
  .animation-bar-left {
    position: absolute;
    width: 0.5%;
    height: 100%;
    animation: conflict-left 2.1s ease-out infinite both;
    @keyframes conflict-left {
      0% {
        background-color: #5339ff;
        left: 0%;
      }
      92% {
        opacity: 0.9;
      }
      100% {
        background-color: #c53c71;
        left: 50%;
        opacity: 0;
      }
    }
  }
  .animation-bar-right {
    position: absolute;
    width: 0.5%;
    height: 100%;
    animation: conflict-right 2.1s ease-out infinite both;
    @keyframes conflict-right {
      0% {
        background-color: #ee3d3d;
        left: 99.5%;
      }
      92% {
        opacity: 0.9;
      }
      100% {
        background-color: #c53c71;
        left: 50%;
        opacity: 0;
      }
    }
  }
}
