@import "./header";
@import "./color";
@import "./reset";
@import "./container";
@import "./home";
@import "./lasttopic";
@import "./loginbox";
@import "./notfound";
@import "./signup";
@import "./post";
@import "./partitionbox";
@import "./footer";
@import "./todaytopic";
@import "./postcontainer";
@import "./inquiry";
@import "./setpw";
@import "./postedit";
@import "./topics";
@import "./vote";

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url(font/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansKR-Regular";
  src: url(font/NotoSansKR-Regular.otf) format("opentype");
}
